/BackEnd/Catalogo/ECommerce.Catalogo.Application/bin
/BackEnd/Catalogo/ECommerce.Catalogo.Data/obj
/BackEnd/Catalogo/ECommerce.Catalogo.Data/bin
/BackEnd/Catalogo/ECommerce.Catalogo.Application/obj
/BackEnd/Catalogo/ECommerce.Catalogo.Domain/obj
/BackEnd/Catalogo/ECommerce.Catalogo.Domain/bin
/BackEnd/Catalogo/ECommerce.Catalogo.Service/obj
/BackEnd/Catalogo/ECommerce.Catalogo.Service/bin
/BackEnd/Core/ECommerce.Core.Services/obj
/BackEnd/Core/ECommerce.Core.Services/bin
/BackEnd/Core/ECommerce.Pagamentos.Application/obj
/BackEnd/Core/ECommerce.Pagamentos.Application/bin
/BackEnd/Core/ECommerce.Pagamentos.Data/obj
/BackEnd/Core/ECommerce.Pagamentos.Data/bin
/BackEnd/Core/ECommerce.Pagamentos.Domain/obj
/BackEnd/Core/ECommerce.Pagamentos.Domain/bin
/BackEnd/Core/ECommerce.Pagamentos.Integrations/obj
/BackEnd/Core/ECommerce.Pagamentos.Integrations/bin
/BackEnd/Core/ECommerce.Vendas.Application/obj
/BackEnd/Core/ECommerce.Vendas.Application/bin
/BackEnd/Core/ECommerce.Vendas.Data/obj
/BackEnd/Core/ECommerce.Vendas.Data/bin
/BackEnd/Core/ECommerce.Vendas.Domain/bin
/BackEnd/Core/ECommerce.Vendas.Domain/obj
/BackEnd/Core/ECommerce.Vendas.Service/obj
/BackEnd/Core/ECommerce.Vendas.Service/bin
bin
obj
/BackEnd/Pagamentos/ECommerce.Pagamentos.Infrastructure/obj
/BackEnd/Pagamentos/ECommerce.Pagamentos.Infrastructure/bin
/bin
/obj
